h1 Editing Product ID: #{@product.id}

== render 'form', url: product_management_path(@product), method: :put

=> link_to 'Show', product_management_path(@product)
'|
=< link_to 'Back', product_managements_path

